.info {
  padding: 10px;
  border: 2px solid red;
  border-radius: 5px;
}

.success {
  background-color: #e6f4ff;
  border-color: rgb(145, 202, 255);
  box-shadow: 0 0 15px rgba(145, 202, 255, 0.5);
}

.warning {
  background-color: #fffbe6;
  border-color: rgb(255, 231, 150);
  box-shadow: 0 0 15px rgba(255, 231, 150, 0.5);
}
