.info {
    padding: 10px;
    border: 2px solid red;
    border-radius: 25px;
}

.success{
    background-color: rgba(22, 169, 210, 0.4);
    border-color: blue;
}

.warning {
    background-color: rgba(224, 205, 30, 0.9);
    border-color: yellows;
}