.controlTransplants {
  max-width: 235px;
  max-height: 252px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
}

.title {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #4a4a4a;
  margin-bottom: 20px;
}
@media (max-width: 968px) {
  .controlTransplants {
    max-width: 100%;
    max-height: 100%;
  }
}